@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .button {
        color: white;
        border-radius: 9999px;
        background-image: linear-gradient(to left, var(--tw-gradient-stops));
        --tw-gradient-from: hsl(192, 70%, 51%);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, hsla(192, 70%, 51%, 0));
        --tw-gradient-to: hsl(136, 65%, 51%);
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        cursor: pointer;
        line-height: inherit;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        appearance: none;
    }

    .button:hover {
        opacity: 0.7;
    }
}
    .link {
        display: flex;
        cursor: pointer;
        align-items: center;
        border-bottom-width: 4px;
        border-bottom-width: 4px;
        --tw-text-opacity: 1;
        color: rgba(0, 0, 0, var(--tw-text-opacity));
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        border-color: transparent;
        border-bottom-width: 4px;
        text-shadow: 5px 10px 15px #0e0d0d;

    }

    .link:hover {
        color: #918b9b;
        border-color: #42ea28;
        border-bottom-width: 4px;
        border-color: #42ea28;
        

    }
    


